.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.photo {
  display: flex;
  justify-content: center;
  height: 13rem;
  width: 13rem;
  border: 0.3rem solid $aqua;
  border-radius: 50%;
  margin-bottom: 1.5rem;

  &-image {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
  }
}

.text {
  text-align: center;
  font-size: 2rem;
  width: 90%;
}

.link {
  color: $aqua;
  text-decoration: none;
}
