.ReactModalPortal > div {
  opacity: 0;
  z-index: 20;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 21rem;
  height: 28rem;
  margin-top: 6rem;
  border-radius: 20px !important;
  border: 0.2rem solid $aqua !important;
  inset: auto !important;
}

.modal-tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &-image {
    width: 5rem;
    height: 5rem;
    justify-self: center;
    align-self: center;
  }

  &-button {
    width: 100%;
    margin: 3rem auto 0;
    display: flex;
    justify-content: center;

    &-form {
      outline: none;
      border: 0.2rem solid $aqua;
      border-radius: 20px;
      padding: 0.5rem 1rem;
      color: $aqua;
      font-size: 1.4rem;
      background-color: $hover-color;
      font-family: "Secular One", sans-serif;
    }
  }
}
