.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &-slider {
    width: 80%;
  }
}
.slick-prev:before,
.slick-next:before {
  opacity: 0.75;
  color: #2cffc0;
  font-size: 2.4rem;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 1rem;
  opacity: 0.45;
  color: #2cffc0;
}
.slick-dots li.slick-active button:before {
  opacity: 0.95;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: $m-size;
    color: $aqua;
    text-align: center;
    margin: 0rem auto 1.5rem;
  }

  &__structure {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 21rem;
    border-radius: 20px;
    margin: 0 auto 1rem;
    border: 0.1rem solid $pink;
    transition: border 0.5s;

    &:hover {
      border: 0.1rem solid $aqua;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-self: center;

    &--piece {
      height: 4rem;
      width: 4rem;
      animation: beats 1.5s linear infinite;
    }
  }
  &__text {
    font-size: 1.3rem;
    text-align: center;
  }
}

//animations
@keyframes beats {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
