@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Secular One", sans-serif;
  font-size: $s-size;
  background-color: $blue;
  color: $pink;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
