@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Secular One", sans-serif;
  font-size: 1.8rem;
  background-color: $blue;
  color: $pink;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//this class is used for all pages
.fade-in-main {
  animation: fadeIn 3s;
}
.fade-in {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: $small-device) {
  html {
    font-size: 75%;
  }
}
@media (min-width: $medium-device) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: $large-device) {
  html {
    font-size: 100%;
  }
}
@media (min-width: $extra-large-device) {
  html {
    font-size: 106.25%;
  }
}
